.excel-normal .background-fake {
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.excel-normal .thongtin-group {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
}

.excel-normal .form-group.row {
  width: 100%;
  margin-left: 0;
}

.excel-normal .title-box {
  margin: 0;
  margin-left: 27px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(52, 114, 162, 1);
  display: inline-block;
  transform: translateY(-20px);
  width: fit-content;
}
