.publication-page .thongtin-group {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
}

.publication-page .title-box {
  margin: 0;
  margin-left: 27px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(52, 114, 162, 1);
  display: inline-block;
  transform: translateY(-20px);
  width: fit-content;
}

.publication-page .title-box {
  padding-left: 10px;
  padding-right: 10px;
}

.publication-page .text-inbox {
  font-size: 16px;
  padding-left: 15px;
  line-height: 50px;
  white-space: nowrap;
}

.publication-page .background-fake {
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.publication-page label.font-weight {
  font-weight: 700;
}

.publication-page .form-group.row {
  width: 100%;
  margin-left: 0;
}

.publication-page .book-image {
  padding: 0;
}

.publication-page .container-image-book {
  background-color: white;
  box-shadow: rgba(52, 114, 162, 1) 0px 20px 30px -10px;
}

.publication-page .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 0;
}

.publication-page .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab:not(:first-child) {
  margin-left: 10px;
}

.publication-page .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  color: white !important;
  background-color: rgba(52, 114, 162, 1) !important;
}

.publication-page .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.publication-page .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 30px;
  border: none;
  color: rgba(52, 114, 162, 1);
  background: rgba(0, 0, 0, 0);
}

.publication-page .setting-button {
  position: absolute;
  right: 0;
  top: 0;
}

.publication-page .ant-tabs .ant-tabs-content {
  position: unset;
}

.checkbox-modal {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 0 !important;
}


