.subject-page .select-antd-multiple .ant-select-selector {
  height: 49px;
  line-height: 49px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.subject-page .select-antd-multiple .ant-select-selector .ant-select-selection-placeholder {
  color: #999999;
}

.subject-page .select-antd-multiple .ant-select-selector .ant-select-selection-item {
  line-height: 32px;
  height: 32px;
}

.subject-page .select-antd-multiple .ant-select-selector .ant-select-selection-item .ant-select-selection-item-remove {
  transform: translateY(-2px);
}
