.select-antd-tags {
  width: 100%;
  min-height: 49px;
}

.select-antd-tags .ant-select-selector {
  height: 100%;
}

.select-antd-tags .ant-select-selection-item-remove {
  display: flex;
}

.select-antd-tags .ant-select-selection-item-remove .anticon.anticon-close {
  justify-content: center;
}

.select-antd-tags .ant-select-selection-placeholder {
  color: rgb(156, 163, 175);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 49px;
  padding: 8px 11px;
}