.bookstore-page .collapse-no-arrow .ant-collapse-expand-icon {
  visibility: hidden;
}
.bookstore-page .ant-collapse:not(:first-child) {
  margin-top: 10px;
}
#bookstore-page-content.bookstore-page .ant-collapse-item .ant-collapse-header {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px -1px;
  background-color: rgba(209, 228, 252, 0.85);
  color: rgba(0, 0, 0, 0.76);
  border-radius: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

#bookstore-page-content.bookstore-page .ant-collapse-item {
  border-radius: 8px;
}
.bookstore-page .ant-collapse .ant-collapse-content-box {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 0;
  padding-bottom: 0;
}
.bookstore-page .ant-collapse-item {
  border: none;
}
.bookstore-page .ant-collapse-content {
  border: none;
}
.bookstore-page .ant-collapse-content-box {
  border: none;
  background-color: rgb(245 245 245);
}
.bookstore-page .ant-collapse {
  border: none;
}
#bookstore-page-content.bookstore-page .ant-collapse-expand-icon {
  height: 54px;
  line-height: 54px;
  padding-left: 16px;
}
.bookstore-page .ant-collapse-header-text .headerTab {
  padding-top: 16px;
  padding-bottom: 16px;
}
.bookstore-page .headerTab {
  display: block;
  cursor: pointer;
}
.bookstore-page .colorTab {
  cursor: pointer;
  padding: 12px;
}
#bookstore-page-content.bookstore-page .select-tab-khosach > .ant-collapse-header {
  color: #004085;
  font-weight: 600;
  background-color: #cce5ff;
  border: 1px solid #004085;
}

#bookstore-page-content.bookstore-page .bookCount {
  white-space: nowrap;
  border: 1px solid rgba(52, 114, 162, 0.71);
  border-radius: 4px;
  color: rgba(52, 114, 162, 1);
}

#bookstore-page-content.bookstore-page .ant-table-content {
  overflow: unset !important;
}
