@property --gradient-angles {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
@-webkit-keyframes --rotation {
  0% {
    --gradient-angles: 0deg;
  }
  100% {
    --gradient-angles: 360deg;
  }
}
@keyframes --rotation {
  0% {
    --gradient-angles: 0deg;
  }
  100% {
    --gradient-angles: 360deg;
  }
}

.card-change-book {
  aspect-ratio: 0.76923077;
  background: rgba(209, 228, 252, 1);
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}
.text-box-kho {
  color: rgba(52, 114, 162, 1);
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.animation-card-change {
  border-radius: inherit;
  -webkit-animation: --rotation 10s linear infinite;
  animation: --rotation 10s linear infinite;
  border-radius: 0.5rem;
  border: 1px solid #ffff;
}
.card-change-book::after {
  filter: blur(3.5rem);
}

.select-tab-khosach.animation-card-change {
  color: #004085;
  font-weight: 600;
  background-color: #cce5ff;
  border: 1px solid #004085;
}

.animation-card-change .colorTab {
  cursor: pointer;
  padding: 12px;
  width: 54px;
  flex-shrink: 0;
}
