.form-group.row {
  width: 100%;
  max-width: 890px;
}

.component-form-group {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
}

.custom-table .ant-table-thead .ant-table-cell.blank-column {
  background-color: #f5f5f5;
  border: none;
}

.ant-table-wrapper .ant-table-tbody > tr > td.blank-column {
  background-color: #f5f5f5;
  border: none;
}

.half-table {
  width: calc(50% - 10px);
  display: inline-block;
  vertical-align: top;
}

.half-table:not(:first-child) {
  margin-left: 20px;
}
