.container-refesh-button {
  font-size: 16px;
  width: 49px;
  height: 49px;
  background-color: rgba(52, 114, 162, 1);
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-button {
  color: #fff;
  background: #0f74a6;
  border-color: #0f74a6;
  display: inline-block;
}

.blue-button > span.anticon {
  transform: translateY(-3px);
}
.button-link {
  padding: 0;
}
.button-link a {
  padding: 4px 15px;
}

.button-link-icon {
  padding: 0;
}

.button-link-icon a {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 29px;
  padding-right: 15px;
}
.button-link-icon span.anticon {
  position: absolute;
  transform: translate(50%, 25%);
}

.red-button {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.icon-blue {
  color: #3472a2;
  font-size: 20px;
  padding: 5px;
}
.icon-red {
  color: #a23434;
  font-size: 20px;
  padding: 5px;
}

.icon-default {
  font-size: 20px;
  padding: 5px;
}

.gray-button {
  color: #ffffff;
  background-color: #494d51 !important;
  display: inline-block;
}

.model-delete .ant-modal-footer {
  text-align: center;
}

.warning-icon {
  font-size: 66px;
  color: #f8bb86;
  margin: 20px 178px;
  animation: warning-icon 0.75s infinite alternate;
}

@keyframes warning-icon {
  from {
    color: #f8d486;
  }
  to {
    color: #f8bb86;
  }
}

.alert-icon {
  font-size: 88px;
  color: #ff0000;
  margin: 20px 178px;
  animation: alert-icon 0.75s infinite alternate;
}

.alert-icon {
  -webkit-animation: animateErrorIcon 1s;
  animation: animateErrorIcon 1s;
}

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

.model-delete {
  width: fit-content !important;
  min-width: 520px !important;
}

.model-delete .ant-modal-body {
  text-align: center;
}

.model-delete button {
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  cursor: pointer;
  height: unset;
}

.model-delete .title-h2 {
  color: #575757;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  padding: 0;
  line-height: 40px;
  display: block;
}

.site-page-header {
  background-color: rgba(51, 55, 59, 0.1);
}

.site-page-header {
  font-weight: bold;
}

.custom-table .ant-table-row-expand-icon {
  float: unset;
  transform: translateY(-5px);
}

td.min-content {
  width: 1%;
  white-space: nowrap;
}

.icon-delete {
  margin-bottom: 5px;
  margin-right: 5px;
}

.errorBackGround {
  background-color: #ff16165e !important;
}

.blueBackground {
  background: #5cbfff !important;
}

.text-note {
  font-size: 16px;
  font-weight: 500;
  line-height: 47px;
  height: 49px;
  width: 57px;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.375rem;
  background-color: rgba(200, 200, 200, 1);
  color: rgba(51, 55, 59, 0.65);
}

#ContentApp .ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: #0f74a6;
}

#ContentApp .ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #0f74a6;
}

#ContentApp .ant-table-wrapper .ant-table-column-sorter {
  color: white;
}

.ant-select-selection-search {
  display: flex;
  align-items: center;
}
