.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 24px;
}

.contain .right {
  /* background: #fff; */
  min-height: 500px;
  width: calc(100% - 225px);
  float: right;
  padding: 0 10px;
  /* position: relative; */
  z-index: 0;
}

.contain .right .content {
  /* box-shadow: 0 0 10px #ccc; */
  min-height: 500px;
  /* margin-bottom: 50px; */
  padding-bottom: 10px;
  overflow: auto;
  font-size: 15px;
  /* height: 900px; */
  overflow-x: hidden;
  overflow-y: auto;
}

.layout-content {
  padding: 15px;
}

.home-welcome {
  padding: 10px;
  background: rgba(214, 255, 246, 0.77);
  color: #2e5894;
  border-radius: 10px;
  border: 1px solid #2e5894;
  margin-bottom: 20px;
}

.panel-footer {
  padding: 6px 15px;
}

.fa-plus-circle:before {
  content: '\f055';
}

.huge {
  font-size: 40px;
}

.col-xs-12 {
  width: 100%;
}

.panel {
  border: solid;
  border-radius: 10px;
  overflow: hidden;
}

.panel .icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 45px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.pull-right {
  font-size: 20px;
  margin-top: -5px;
}

.pull-left {
  margin-top: 4px;
}

.clearfix {
  height: 30px;
}

@media (min-width: 900px) {
  .home-menu {
    flex: 0 0 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
}

.home-menu {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.home-menu-group {
  position: relative;
  width: auto;
  min-height: 1px;
  padding: 5px 15px;
  margin: 12px;
  background-color: #d9edf7;
  border-radius: 7px;
}

.title {
  font-size: 25px;
  margin: 0 0px 20px;
  border-bottom: 2px solid;
  position: relative;
  color: #2e5894;
  display: inline-block;
  text-transform: uppercase;
}

.home-menu-group .title {
  font-size: 23px;
  margin: 0 0px 12px;
  border-bottom: 2px solid;
  position: relative;
  color: #2e5894;
  display: block;
}

.btntag-box {
  position: relative;
  display: inline-block;
}

.btntag {
  background-color: white;
  border: 2px solid #c9c9c9;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  float: left;
}

.btntag-box .btntag,
.btntag-box .btntag-group,
.btntag-box .btntag-group-vertical {
  width: 128px;
}
.btntag-success {
  background-color: white;
  color: black;
  border: 2px solid #5ab75d;
}

.btntag img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
}

.btntag-success:hover {
  background-color: #5ab75d;
  color: white;
}

.panel-footer:hover {
  color: #cb0000;
}
.btntag-box .btntag,
.btntag-box .btntag-group,
.btntag-box .btntag-group-vertical {
  width: 128px;
}

.btntag-group,
.btntag-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 4px;
}

.btntag-group .btntag.btntag-success {
  margin: 1px;
}

.btntag-group {
  margin-top: 3px;
}
