#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header.header {
  height: 40px;
  padding-inline: unset;
}

.headerShortcut {
  color: white;
  font: bold;
  padding: 0 7px;
  min-height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  height: 40px;
  line-height: 40px;
}

#IconPhimTat {
  display: flex;
  margin-left: 20px;
}

#IconAccount {
  width: 100%;
  color: #fff;
  text-align: right;
}

.MainLayout {
  height: 100vh;
}

#footer {
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  padding-right: 15px;
  background: #728d94;
  color: #fff;
  font-size: 12px;
  z-index: 3;
  text-align: right;
}

#footer {
  background: #23282d;
  padding: 0;
}

#MainSilder .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

#MainSilder .ant-menu {
  border-right: 0px;
  flex-grow: 1;
}

#MainSilder {
  display: flex;
  flex-direction: column;
  min-width: 238px;
  max-width: 240px;
  transition: min-width 0.3s;
}

.logo.print-logo {
  background: #eee;
  height: 96px;
  transition: all 0.3s ease-out;
  width: fit-content;
}

#MainSilder .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
#MainSilder .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
  color: unset;
}

#MainMenu div.ant-menu-submenu-title:hover {
  background-color: #0f74a6;
  color: #fff;
}

#MainSilder .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  background: #0f74a6;
  color: unset;
}

#MainSilder .ant-menu-light .ant-menu-item-selected {
  font-weight: 600;
  background: #484d52;
}

#MainSilder .ant-menu-light .ant-menu-item-selected {
  color: unset;
}

#MainMenu {
  overflow: hidden;
}

#MainMenu:hover {
  overflow: auto;
}

/* .small-menu #MainMenu:hover {
  overflow: hidden;
} */

#ContentApp {
  padding: 0px 10px;
}
#ContentApp {
  overflow: auto;
}

.small-menu .logo.print-logo {
  height: 0;
}

#MainSilder .ant-layout .ant-layout-header {
  height: 40px;
  line-height: 40px;
}

.headerShortcut > span {
  font-size: 16px;
  margin-right: 7px;
}

#IconAccount > span {
  font-size: 32px;
  color: white;
  padding: 4px;
  margin-right: 15px;
  display: inline-block;
  cursor: pointer;
}

.UserNameTitle {
  font-size: 16px;
  color: white;
  margin-right: 10px;
  display: inline-block;
}

.MenuUser > img {
  color: white;
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
}

.ColumnMainLayout {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

.MenuUser {
  display: inline-block;
  cursor: pointer;
}

.iconUserDropDown {
  transform: translate(0px, -3px);
  margin-right: 10px;
}

.small-menu #MainSilder {
  min-width: 80px;
  transition: min-width 0.3s;
}

.divider-menu {
  height: 10px !important;
  line-height: 10px !important;
}

#MainSilder .divider-menu .ant-menu-title-content .my-1 {
  background-color: white;
}
