.mainApp {
  width: 100%;
  height: 100%;
}
.appname {
  margin-top: 3px;
  text-align: center;
  width: 100%;
}
.appname {
  padding: 5px;
  padding-left: 10px;
}

.appname {
  font-size: 20px;
  color: #fff;
  padding: 0;
  float: left;
}

.appname > h3 {
  margin: auto;
}

#header {
  width: 100%;
  min-height: 38px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.main_color {
  background: #2e5895;
}

.box_logo {
  width: 60%;
  float: left;
  position: relative;
  height: 100%;
  background-size: 80%;
}
