.print-category-page.setting-page .checkbox-modal-print > label {
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}
.print-category-page.setting-page .checkbox-modal-print > a {
  text-underline-offset: 4px;
  text-decoration-line: underline;
  color: rgba(52, 114, 162, 1);
  font-size: 16px;
}
