.setting-page .thongtin-group {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.setting-page .form-group.row {
  width: 100%;
  max-width: none;
}

.setting-page .title-box {
  margin: 0;
  margin-left: 27px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(52, 114, 162, 1);
  display: inline-block;
  transform: translateY(-20px);
}

.setting-page label.text-inbox {
  font-size: 16px;
  padding-left: 80px;
  line-height: 49px;
}

.setting-page label.font-weight {
  font-weight: 700;
}

.setting-page .background-fake {
  width: 100%;
  height: 11px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.setting-page .title-box {
  padding-left: 10px;
  padding-right: 10px;
}

.setting-page .title-inbox {
  font-size: 16px;
  padding-left: 50px;
  line-height: 49px;
}

.setting-page .ckeditor-container > div {
  width: 100%;
}

.setting-page .ck-editor__editable_inline {
  min-height: 335px !important;
}

.setting-page .long-editor .ck-editor__editable_inline {
  min-height: 580px !important;
}
