#static-page .ant-tabs-content.ant-tabs-content-top.ant-tabs-content-animated{
    height: 100%;
}

#static-page .ant-tabs-content.ant-tabs-content-top.ant-tabs-content-animated .ant-tabs-tabpane{
    height: 100%;
}