@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  img {
    display: inline-block !important;
  }
}

.ant-table-cell {
  text-align: center;
}

.ant-select-selector {
  background-color: #0f74a6;
}

.custom-table .ant-table-thead .ant-table-cell {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: white;
  background-color: #0f74a6;
  text-align: center;
}

.customTable .ant-table-thead .ant-table-cell::before {
  width: 0 !important;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-dev-only-do-not-override-1km3mtt).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  width: 0;
  height: 0;
  content: '';
}

input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field,
input[type='date']:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.border-bottom {
  border-bottom: 1.5px solid rgb(212, 210, 210) !important;
  opacity: 0.8;
}

.ant-table table {
  border-collapse: collapse;
}

.data-row > tr > td {
  padding: 0 !important;
}

select::-ms-expand {
  display: none;
}

select.year-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width: 200px;
}

.ck-editor__editable_inline {
  min-height: 335px !important;
}

.long-editor .ck-editor__editable_inline {
  min-height: 580px !important;
}

.ant-switch {
  background-color: #bfbfbf;
}

.ant-btn {
  background-color: #3472a2;
}

.ant-picker-ranges .ant-picker-now {
  display: none !important;
}
